@font-face {
  font-family: Aquatico;
  src: url(fonts/Aquatico-Regular.otf);
} @font-face {
  font-family: Nunito;
  src: url(fonts/Nunito-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  scroll-snap-type: y;
  scroll-snap-stop: always mandatory;
  scroll-snap-align: start;
  scroll-behavior: smooth;
}

body {
  font-family: Nunito;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background: linear-gradient(45deg, #008c82 25%, rgb(0, 96, 134) 25%);
  box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.3);
}

header .logo {
  color: #fff;
  letter-spacing: 2px;
  font-family: Aquatico, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav {
  display: flex;
  align-items: center;
}

header nav a {
  display: flex;
  align-items: center;
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}
header nav a:hover {
  background: linear-gradient(45deg, #007CFF, #008c82);
}
header nav a:active {
  background-color: #000;
}

header nav a .nav-icon {
  color: #fff;
}

header nav a img {
  margin-right: 5px;
}

.menu-btn {
  display: none;
}

section h2 {
  color: #008c82;
  font-family: Aquatico, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
}

#introduction {
  position: sticky;
  top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 92vh;
  color: #008c82;
  z-index: -1;
}

.intro-greet {
  font-size: 2em;
  margin-bottom: 40px;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3);
  line-break: loose;
  word-wrap: break-word;
  color: #001;
}

.intro-body {
  width: 40%;
  padding: 10px;
  font-size: 1.2em;
  line-height: 30px;
  line-break: loose;
  word-wrap: break-word;
}

#introduction img {
  width: 30%;
  border-radius: 20px;
}

#technologies {
  height: 100vh;
  border-radius: 20px 20px 0 0;
  padding: 20px;
  background: url(images/laptop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  box-shadow: 0 -2px 4px 1px rgba(0, 0, 0, 0.3);
}

#technologies h2 {
  text-align: center;
  -webkit-text-stroke: 0.1px #fff;
  margin: 10px 0 140px 0;
}

#technologies h3 {
  margin-bottom: 20px;
  text-align: center;
  font-size: 2em;
  color: #fff;
}

.technologies-body img {
  width: 10vw;
  filter: drop-shadow(1px 2px 6px rgba(0, 0, 0, 0.5));
  border-radius: 10px;
}

.frontend-stack {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

#projects {
  height: 100vh;
  background-color: #fff;
  background: url(images/Design-Wallpaper-HD.jpg);
}

#projects h2 {
  padding: 10px;
  text-align: center;
  -webkit-text-stroke: 0.1px #fff;
}

.projects-body {
  height: 92vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  height: 260px;
  width: 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  background: linear-gradient(-45deg, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.6) 50%);
  backdrop-filter: saturate(10%);
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
  transition: 0.2s;
}
.project:hover {
  background: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.3) 50%);
}

.project h3 {
  border-radius: 30px;
  padding: 8px;
  font-family: Aquatico, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  letter-spacing: 2px;
  text-align: center;
  color: #000;
  background-color: #fff;
}

.project ul {
  list-style: circle inside;
  font-weight: bold;
}

.project .navs {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.project .navs a {
  margin-left: 10px;
}
.project .navs a:hover {
  filter: invert();
  transform: scale(1.1);
}

.project .navs a:nth-child(2) img {
  width: 25px;
}

footer {
  padding: 10px;
  color: #fff;
  background: linear-gradient(45deg, #002, #008c82);
}

footer .footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer h2 {
  margin-bottom: 20px;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 2px;
  font-family: Aquatico, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer span {
  font-weight: 900;
}
footer a {
  text-decoration: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.reach-me {
  width: 50%;
  line-height: 30px;
}

.reach-me img {
  margin: auto 5px;
}

.copyright {
  width: 50%;
  text-align: center;
}

.copyright .social-links {
  margin-top: 20px;
}

.social-links img {
  margin: auto 10px;
}

.social-links img:active {
  transform: scale(1.2);
}

/* SCROLLBAR */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #008c82;
  border-radius: 10px;
}

/* 1048px Media Query */
/* Landscape */
@media screen and (max-width: 1048px) and (orientation: landscape) {
  header {
    background: linear-gradient(45deg, #008c82 30%, rgb(0, 96, 134) 30%);
    font-size: 0.7em;
  }
  .intro-body, #projects {
    font-size: 0.8em;
  }
}

/* Portrait */
@media screen and (max-width: 1048px) and (orientation: portrait) {
  header {
    padding: 10px 20px;
    background: linear-gradient(45deg, #008c82 60%, rgb(0, 96, 134) 25%);
  }
  header .logo {
    font-size: 1.2em;
  }
  header nav {
    position: absolute;
    top: 90px;
    right: 10px;
    display: none;
    gap: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 2.2em;
    background: linear-gradient(45deg, #008c82, rgb(0, 96, 134));
    box-shadow: -2px 2px 6px 2px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
  }
  header nav a {
    padding: 20px 35px;
  }
  header nav a img {
    width: 40px;
    margin-right: 20px;
  }
  header .menu-btn {
    display: block;
  }
  #introduction {
    display: flex;
    flex-direction: column-reverse;
  }
  #introduction img {
    width: 50%;
  }
  .intro-body {
    width: 80%;
    text-align: justify;
  }
  .frontend-stack {
    display: grid;
    align-content: center;
    justify-items: center;
    margin-top: 100px;
    gap: 50px;
    grid-template-columns: 50% 50%;
  }
  .frontend-stack img {
    width: 20vw;
  }
  footer {
    font-size: 0.6em;
    background: linear-gradient(90deg, #002 50%, #008c82 30%);
  }
}

/* 768px Media Query */
/* Landscape */
@media screen and (max-width: 768px) and (orientation: landscape) {
  header {
    font-size: 0.5em;
  }
  .intro-body, #projects {
    font-size: 0.8em;
    line-height: 20px;
  }
  header a img {
    width: 10px;
  }
  footer {
    font-size: 0.6em;
  }
}

/* 768px Media Query */
/* Portrait */
@media screen and (max-width: 768px) and (orientation: portrait) {
  header {
    font-size: 0.8em;
  }
  header .menu-btn {
    width: 30px;
  }
  nav {
    top: 55px !important;
  }
  nav a {
    margin: 0;
    padding: 0;
    font-size: 0.6em;
  }
  nav a img {
    width: 30px !important;
  }
  #introduction img {
    width: 40vh;
  }
  #introduction {
    font-size: 0.8em;
  }
  .intro-body p {
    line-height: 25px;
  }
  .intro-body h2 {
    text-align: center;
  }
  #technologies h2 {
    margin-bottom: 5px;
  }
  .technologies-body img {
    width: 15vw;
  }
  .projects-body {
    flex-wrap: wrap;
  }
  .project {
    width: 35vw;
    height: 22vh;
    font-size: 0.6em;
  }
}