* {
  margin: 0;
  padding: 0;
  scroll-snap-type: y;
  scroll-snap-stop: normal;
  scroll-snap-align: start start;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background: linear-gradient(45deg, #008c82, rgb(0, 96, 134));
}

header h3 {
  color: #fff;
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header nav a {
  border-radius: 5px;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #fff;
}
header nav a:hover {
  color: #008c82;
  background-color: #fff;
}
header nav a:focus {
  color: #008c82;
  background-color: #fff;
}
header nav a:active {
  color: #000;
}

section {
  height: 100vh;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
  background: linear-gradient(45deg, #008c82, #002);
}

footer h2 {
  width: 18%;
  padding-bottom: 5px;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  text-shadow: 1px 3px 2px rgba(0, 0, 0, 0.3);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer span {
  font-weight: 900;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer a {
  text-decoration: none;
  text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.reach-me {
  width: 50%;
  border-right: 1px solid #fff;
  line-height: 30px;
}

.copyright {
  width: 50%;
  padding: 20px;
  text-align: center;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 5px;
  background-color: #eee;
}
::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-color: #008c82;
}